<!-- commets  -->
<div class="post-comment">
	<form action="/comments/create" method="post">
		<input type="text" name="content" placeholder="Add Comment" required />
		<input type="hidden" name="post" value="<%=post.id  %>" />
		<button type="submit"><Strong>Add Comment</Strong></button>
	</form>
	<div class="post-comments-list">
		<ul class="post--comments-<%= post.id %>">
			<% for( let comment of post.comments) { %>
			<li>
				<!-- delete comment button -->
				<% if (locals.user && locals.user.id == comment.user.id) { %>
				<small>
					<a href="/comments/destroy/<%=comment.id%>">delete</a>
				</small>
				<% } %>
				<p><%=comment.content %></p>
				<!-- <br /> -->
				<small><%= comment.user.name %> </small>
			</li>
			<% } %>
		</ul>
	</div>
</div>
