<h1>Home</h1>

<section id="feed-posts">
	<h3>Posts</h3>
	<form action="/posts/create-post" method="post" id="new-post-form">
		<textarea name="content" id="" cols="30" rows="5"> </textarea>
		<button type="submit"><strong>Post</strong></button>
	</form>

	<div class="posts">
		<ul>
			<% for( let post of locals.posts ) { %>
			<li>
				<!-- All posts 6360a90baa47f7142954b650 -->
				<p>
					<% if (locals.user && locals.user.id === post.user.id) { %>
					<small>
						<a href="/posts/destroy/<%=post.id%>">delete</a>
					</small>
					<% } %> <%= post.content %>
					<br />
					<small><%= post.user.name %> </small>
				</p>
				<!-- commets  -->
				<div class="post-comment">
					<form action="/comments/create" method="post">
						<input
							type="text"
							name="content"
							placeholder="Add Comment"
							required
						/>
						<input type="hidden" name="post" value="<%=post.id  %>" />
						<button type="submit"><Strong>Add Comment</Strong></button>
					</form>
					<div class="post-comments-list">
						<ul class="post--comments-<%= post.id %>">
							<% for( let comment of post.comments) { %>
							<li>
								<p><%=comment.content %></p>
								<!-- <br /> -->
								<small><%= comment.user.name %> </small>
							</li>
							<% } %>
						</ul>
					</div>
				</div>
			</li>
			<% } %>
		</ul>
	</div>
</section>
