<html>
	<head>
		<title></title>
		<link rel="stylesheet" href="/css/layout.css" />
		<!-- All styles placed here -->
		<%- style %>
	</head>

	<body>
		<!-- include header  -->
		<%- include('_header') %>

		<!-- variable part  -->
		<%- body%>

		<!-- include footer -->
		<%- include("_footer") %>

		<!-- All script js -->
		<%- script %>
	</body>
</html>
